@import 'style';

.background {
  background: linear-gradient(200deg, $primary-soft 0%, $primary 100%);
}

section {
  display: block;
  padding: 10px;
  min-height: calc(100vh - #{$header-height});

  > *  {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.inner-wrapper {
  padding: 20px;

  h2 {
    font-size: 60px;
    font-weight: bold;
    color: #000000;
    margin: 5px;
    line-height: 1em;
  }
}

.search-wrapper {
  border-radius: 30px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1c1;

  h2 {
    font-size: 20px;
    margin: 5px 0;
  }

  input  {
    border: 0;
    font-size: 20px;
  }

}

.inner {
  padding: 30px;

  .search-box {
    margin-bottom: 20px;
  }
}

.found-adapter {
  margin: 20px 0;
}



.examples {

  ul {
    padding: 0;
    margin: 0;
  }

  span {
    list-style-type: none;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.description {
  h2 {
    margin-top: 40px;
    font-size: 30px;
  }

  font-size: 18px;
}
