<h2>Insert Link</h2>
<div>
  <form [formGroup]="baseURLForm">
    <input placeholder="https://www.wordpress.example.com" pattern="url" name="apiUrl" formControlName="url"
           type="text">
    <button class="secondary" (click)="check()">Check Domain</button>
  </form>
</div>
<div>
</div>

<div *ngIf="adapter">
  <div class="found-adapter">{{adapterInfoText[adapter]}}</div>
  <button *ngIf="adapter == ApiAdapter.WORDPRESS" [routerLink]="['/result-list']"
          [queryParams]="{adapter: this.adapter, apiUrl: baseURLForm.get('url')?.value}">
    Select Post
  </button>

  <button *ngIf="adapter == ApiAdapter.METADATA" [routerLink]="['/editor']" [queryParams]="
  {adapter: this.adapter, data: baseURLForm.get('url')?.value}">
    Open Editor
  </button>
</div>

<div *ngIf="adapter == false">
  <div>There was a problem detection any framework or meta data, may the selected link is incorrect</div>
</div>

<div *ngIf="loading">
  <app-loading-animation></app-loading-animation>
</div>


<div class="examples">
  <h3>Try with:</h3>
    <span *ngFor="let item of testUrls" (click)="selectItem(item)">{{item.name}}, </span>
</div>
