@import 'style';

.background {
    background: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1312&q=80");
    background-size: cover;
}

section {
    display: block;
    padding: 10px;
    min-height: $content-height;

    > * {
        max-width: 1280px;
        margin: 0 auto;
    }
}

.inner-wrapper {
    padding: 20px;

    h2 {
        font-size: 60px;
        font-weight: bold;
        color: #000000;
        margin: 5px;
        line-height: 1em;

        @include respond-below(sm) {
            font-size: 45px;
        }
    }
}

.search-wrapper {
    border-radius: 30px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1c1;

    h2 {
        font-size: 20px;
        margin: 5px 0;
    }
}

input {
    border: 0;
    font-size: 20px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.search {
    cursor: pointer;
    position: absolute;
    right: 5px;
    background: $grey-0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 40px;
    color: white;
    background: black;
    border-radius: $common-border-radius;
    padding: 5px;
}

.adapter {
    button {
        margin: 10px 0 20px 0;
    }
}

.adapter-info {
    font-size: 14px;
}

.success {
    font-size: 16px;
    color: $primary;
}

.inner {
    padding: 30px;
    width: 100%;
}


.examples {
    ul {
        padding: 0;
        margin: 0;
    }

    span {
        list-style-type: none;
        cursor: pointer;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.description {
    h2 {
        margin-top: 40px;
        font-size: 30px;
    }

    font-size: 18px;
}


.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $content-height;

    .login {
        padding: 20px;
        border-radius: $common-border-radius;
        background: rgba(241, 241, 241, 0.66);
        text-align: center;

        button {
            width: 100%;
        }
    }
}


