<section class="background">
  <div class="top-wrapper">
    <h2>Generate beatuiful images from any web address.</h2>
    <div></div>
  </div>

  <div class="search-wrapper">
    <div class="inner">
      <div class="search-box">
        <h2>Insert any address</h2>
        <div>
          <form [formGroup]="baseURLForm">
            <input placeholder="https://www.example.com/" pattern="url" name="apiUrl" formControlName="url"
                   type="text">
            <button class="primary" (click)="check()">Search</button>
          </form>
        </div>
        <div>
        </div>
      </div>

      <div *ngIf="adapter">
        <div class="found-adapter">{{adapterInfoText[adapter]}}</div>

        <button *ngIf="adapter == ApiAdapter.WORDPRESS" [routerLink]="['/result-list']"
                [queryParams]="{adapter: this.adapter, apiUrl: baseURLForm.get('url')?.value}">
          Select Post
        </button>

        <button *ngIf="adapter == ApiAdapter.METADATA" [routerLink]="['/editor']" [queryParams]="
  {adapter: this.adapter, data: baseURLForm.get('url')?.value}">
          Open Editor
        </button>
      </div>

      <div *ngIf="adapter == false">
        <div>There was a problem detection any framework or meta data, may the selected link is incorrect</div>
      </div>

      <div *ngIf="loading">
        <app-loading-animation></app-loading-animation>
      </div>


      <div class="examples">
        <h2>Or try with one of the following addresses</h2>
        <span *ngFor="let item of testUrls" (click)="selectItem(item)">{{item.name}}, </span>
      </div>
    </div>
  </div>


</section>

<section class="description">
  <h2>How does the MetaMapper work?</h2>
  <div>
    <p>
      The concept of MetaMapper is very simple. The MetaMapper is based on so called "meta tags" which are snippets
      of text or images which is related to a website, i.e. blog post, any offer, product, etc. "Meta Tags" are
      hidden for the "normal" users, but they exist in HTML. The main goal of meta tags is to describe your
      website/product in a way, which is relevant for SEO.
    </p>
    <p>
      The most important tags are the "title" and the "description" tag, and most websites also using the "image"
      tag (og:image), which is commonly used for social media links, which also have a "preview image". Many services,
      i.e. facebook, whatsapp, telegram ..., were using these meta information to show additional information to a
      link which is getting shared.
    </p>
    <p>
      The MetaMapper works in a similar way, it uses these tags to generate a "preview" but also with the
      opportunity to have an image editor, which makes it easy to create an attractive image from any website,
      which can be shared on any social media tool/service in a very simple way.
    </p>
  </div>

  <h2>Why using the MetaMapper?</h2>
  <div>
    <p>
      An example: you run a food blog (i.e. wordpress), you were creating content like recipes, restaurants ratings,
      etc. and you also need to share it on facebook, instagram (or where ever), you now need to create an individual
      post with an image, an title and so on... so that's the point where the MetaMapper is very useful. Just insert
      the address of your newly created blog post and let automatically create beautiful preview images which can be
      downloaded on your phone and shared in a rush.
    </p>
  </div>

  <h2>Main Advantages</h2>
  <ul>
    <li>Simply create different styles of one address</li>
    <li>Select one out of many nice looking presets</li>
    <li>Create new presets and save it, to use it next time</li>
    <li>You can use it for products, posts, spotify artists...</li>
  </ul>
</section>
