@import 'style';

:host {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.found-adapter {
  margin: 20px 0;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: #9d9d9d;
  font-weight: normal;
  margin-top: 140px;
  margin-bottom: 5px;
}

.examples {
  h3 {
    font-size: 20px;
    color: #9d9d9d;
    margin-bottom: 5px;
  }
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    text-decoration: underline;
    cursor: pointer;
  }
}
