@import 'style';

:host {
  font-size: 16px;
}

.object-actions {
  display: flex;
  width: 100%;
}

.align-actions {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 25px;

  > div {
    margin-right: 10px;
  }
}

.grid-alignment {
  position: relative;

  &:hover {
    .align-classes {
      display: block !important;
      position: absolute;
      border: 1px solid $grey-1;
      border-radius: $common-border-radius;
      padding: 10px;
      z-index: 1010;

      background: white;

      .simple-aligners {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          margin: 0 10px;
          //width: 40px;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;

        > div {
          background-color: $grey-1;
          //width: 30px;
          height: 20px;

          &:hover {
            background: $primary-blue;
          }
        }
      }


    }
  }

  .align-classes {
    display: none;
  }

}


.type-settings {
  > * {
    display: flex;
    &::before {
      margin-right: 12px;
      border-right: 1px solid $grey-1;
      content: '';
    }
  }
}
