<div class="object-actions" *ngIf="activeObject">
  <div class="align-actions">
    <div (click)="removeActiveObject()">
      <fa-icon [icon]="iconRemove"></fa-icon>
    </div>
    <div (click)="turn90()">
      <fa-icon [icon]="iconRotate"></fa-icon>
    </div>
    <div class="grid-alignment">
      <fa-icon [icon]="iconRasta"></fa-icon>
      <div class="align-classes">
        <div class="simple-aligners">
          <span (click)="alignmentAction(simpleAlignments.Left)"><fa-icon [icon]="iconLeft"></fa-icon></span>
          <span (click)="alignmentAction(simpleAlignments.Center)"><fa-icon [icon]="iconCenter"></fa-icon></span>
          <span (click)="alignmentAction(simpleAlignments.Right)"><fa-icon [icon]="iconRight"></fa-icon></span>
        </div>
        <div class="grid">
          <div *ngFor="let item of objectAlignments" (click)="alignmentAction(item)"></div>
        </div>

        <div class="zindex-move">
          <div (click)="moveToBack()">
            <fa-icon [icon]="iconLayer"></fa-icon>
            Bring Backward
          </div>
          <div (click)="moveToFront()">
            <fa-icon [icon]="iconLayer"></fa-icon>
            Bring Forward
          </div>
        </div>

        <div class="fixed-position">
          <div>Position:</div>
          <div (click)="position(ObjectPosition.RELATIVE)" [class.active]="activeObject.presetObjectPosition === ObjectPosition.RELATIVE">relative</div>
          <div (click)="position(ObjectPosition.ABSOLUTE)" [class.active]="activeObject.presetObjectPosition === ObjectPosition.ABSOLUTE">absolute</div>
        </div>

      </div>
    </div>
  </div>
  <app-range-slider class="size-range border-box" [value]="activeRangeSliderCurrentValue"
                    [max]="activeRangeSliderMax"
                    (valueChange)="changeSize($event)"></app-range-slider>

  <div class="type-settings" [ngSwitch]="selectedType">
    <app-text-settings *ngSwitchCase="fabricType.TEXTBOX" [textBox]="canvas.getActiveObject()"></app-text-settings>
  </div>
</div>
