<app-default-popover>
    <div>
        <h3 class="title">Sorting <span class="sort-name"></span></h3>
        <div class="actions" *ngIf="activeSort$ | async as activeSort">
            <a class="latest"
               [class.active]="activeSort === Sort.DEFAULT"
               [routerLink]="['/search']"
               [queryParams]="{sort: 'default'}"
               queryParamsHandling="merge">
                <app-icon class="large" name="sort-latest"></app-icon>
                (latest)
            </a>

            <a class="geo"
               [class.active]="activeSort === Sort.GEO"
               [routerLink]="['/search']"
               [queryParams]="{sort: 'geo'}"
               queryParamsHandling="merge">
                <app-icon class="large" name="geo-search"></app-icon>
                (near you)
            </a>
        </div>
    </div>
    <div>
        <h3>Search</h3>
        <app-full-text-search></app-full-text-search>
    </div>
    <div>
        <h3>Most common tags
            <app-selected-tag></app-selected-tag>
        </h3>
        <app-tags [view]="'list'" [tags$]="tags$"></app-tags>
    </div>
</app-default-popover>
