@import 'style';

:host {
  display: flex;

  > * {
    margin-right: 10px;
  }

  fa-icon {
    font-size: 24px;
  }

  .actions {

    .meta-actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;

      span {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 17px;
      }
      > div {
        cursor: pointer;
        border: 1px solid $grey-1;
        padding: 5px;
        border-radius: $common-border-radius;

        fa-icon {
          font-size: 14px;
        }

        &:hover {
          border-radius: $common-border-radius;
          background: $primary-soft;
        }
      }

      &.file-upload {
        display: flex;
        align-items: center;
      }
    }
  }
}

.media-elements {
  cursor: pointer;
}
