<div class="actions">
  <div (click)="addObject(LayoutItemType.TITLE)" trackClick="Meta Action | Add Title">
    <fa-icon [icon]="plusIcon"></fa-icon>
    Meta title
  </div>
  <div (click)="addObject(LayoutItemType.DESCRIPTION)" trackClick="Meta Action | Add Description">
    <fa-icon [icon]="plusIcon"></fa-icon>
    Meta description
  </div>
  <div (click)="addObject(LayoutItemType.IMAGE)" trackClick="Meta Action | Add Image">
    <fa-icon [icon]="plusIcon"></fa-icon>
    Meta image
  </div>
  <div (click)="addObject(LayoutItemType.ICON)" trackClick="Meta Action | Add Icon">
    <fa-icon [icon]="plusIcon"></fa-icon>
    Meta icon
  </div>
  <div class="file-upload">
    <label for="imageUpload" class="btn btn-primary btn-block btn-outlined">
      <fa-icon [icon]="plusIcon"></fa-icon>
      Upload image</label>
    <input type="file" id="imageUpload" (change)="imageUpload($event)" style="display: none" trackClick="Meta Action | Upload new">
  </div>
  <div (click)="addObject(LayoutItemType.STATIC_TEXT)" trackClick="Meta Action | Textbox">
    <fa-icon [icon]="plusIcon"></fa-icon>
    Textbox
  </div>

  <h3>Elements</h3>
  <app-meta-data-action-static-image (selectStaticImageUrl)="addStaticImage($event)"></app-meta-data-action-static-image>
</div>
