@import 'style';

:host {
    .heart {
        background-color: $grey-0;
        display: inline-block;
        height: 20px;
        margin: 0 10px;
        transform: rotate(-45deg);
        width: 20px;

        &:before,
        &:after {
            content: "";
            background-color: $grey-0;
            border-radius: 50%;
            height: 20px;
            position: absolute;
            width: 20px;
        }

        &:before {
            top: -10px;
            left: 0;
        }

        &:after {
            left: 10px;
            top: 0;
        }

        &.checked {
            background-color: $primary;

            &:after,
            &:before {
                background: $primary;
            }
        }
    }
}

