@import 'style';

:host {
    input {
        position: absolute;
        left: -100vw;

        &:checked + label {
            color: $primary;
            will-change: font-size;
            animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
        }
    }

    label {
        text-shadow: 1px 1px black;
        align-self: center;
        color: $grey-0;
        font-size: 2.5em;
        cursor: pointer;
    }

    @keyframes heart {
        0%, 15% {
            font-size: 0;
        }
    }

}

