@import 'style';

:host {
  display: flex;
}

.nav-tabs {
  min-width: var(--width-nav-tabs);
  background: var(--grey-dark-0);
}


.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  height: var(--width-nav-tabs);
  color: white;

  .icon {
    text-align: center;
    margin-bottom: 2px;
  }
}

.nav-item {
  &:hover,
  &.active {
    color: black;
    background-color: var(--grey-0);
    transition: background-color .3s ease-in-out;
    //border-radius: $common-border-radius 0 0 $common-border-radius;
  }
}

.content {
  transition: opacity .3s ease-in-out;
}

