@import 'style';

.content {
  background: $grey-0;
  padding: 10px;
  border-radius: $common-border-radius;
  animation: append-animate .3s linear;
}

@keyframes append-animate {
  from {
    transform: translate(0);
    opacity: 0;
  }
  to {
    transform: translate(1);
    opacity: 1;
  }
}

:host(.expanded) {
  .toggle {
    font-weight: bold;
  }
}
