@import 'style';

:host {
  display: flex;
  align-items: center;
  margin-right: 20px;

  form {
    margin-bottom: 10px;

    h1 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
  }

  > * {
    margin-right: 10px;
  }

  input, button {
    width: 100%;
  }

  .logged-in{
    font-size: 12px;
  }

  button {
    width: 100%;
  }
}
