<ng-container *ngIf="!loggedIn; else username">
  <form *ngIf="show" class="values" [formGroup]="userForm">
    <label>User</label>
    <input formControlName="username" type="text">
    <label>Password</label>
    <input formControlName="password" type="password">
    <button (click)="sendLogin()">Login</button>
    <div *ngIf="this.error">{{this.error | json}}</div>
  </form>
  <button class=" secondary login-toggle" (click)="toggleLogin()">Sign In</button>
</ng-container>
<ng-template #username>
  <div class="logged-in">
  {{loggedIn}}
  </div>
</ng-template>
