<ng-container *ngIf="!(currentUser | async); else username">
  <form class="values" [formGroup]="userForm">
    <h1>User login</h1>
    <label>User</label>
    <input formControlName="username" type="text">
    <label>Password</label>
    <input formControlName="password" type="password">
  </form>
  <button (click)="sendLogin()">Login</button>

  <div *ngFor="let message of error" class="login-error">
    {{message}}
  </div>
</ng-container>

<ng-template #username>
  <div class="logged-in" *ngIf="currentUser | async as user">
    {{user.user.username}} / {{user.user.email}}
  </div>
</ng-template>
