<div class="title">Sorting</div>
<div class="actions" *ngIf="activeSort$ | async as activeSort">
    <div class="latest"
         [class.active]="activeSort === Sort.DEFAULT"
         [routerLink]="['/search']"
         [queryParams]="{sort: 'default'}"
         queryParamsHandling="merge"><app-icon class="large" name="sort-latest"></app-icon>
    </div>

    <div class="geo"
         [class.active]="activeSort === Sort.GEO"
         [routerLink]="['/search']"
         [queryParams]="{sort: 'geo'}"
         queryParamsHandling="merge"><app-icon class="large" name="geo-search"></app-icon>
    </div>
</div>
