@import 'style';

:host {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;

  .actions {
    display: flex;
    color: $grey-1;

    > a {
      margin-right: 10px;
      cursor: pointer;

    }

    .active {
      color: $primary;
    }
  }
}

.title {
  font-weight: bold;
}

.sort-name {
  color: $primary;
  font-style: italic;
  flex: 1;
  text-align: center;
}