@import 'style';

:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
}

.text {
  margin-right: 12px;
}

.open {
  z-index: $zindex-tooltip;
  margin: 5px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background: $primary;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
