@import 'style';

:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.text {
  margin-right: 12px;
}

.open {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: $primary;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}