@import 'style';

:host {
  z-index: $zindex-tooltip;
  margin: 5px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background: $primary;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}