<div class="place" [routerLink]="['/detail', place.slug]" queryParamsHandling="merge">
    <header>
        <div class="title">
            <div class="cat">Restaurant</div>
            <h2>{{place.title.rendered}}</h2>
        </div>
        <div class="image">
            <img [src]="getFeatureImage(place._embedded)">
        </div>
    </header>
    <div class="text">
        <address>
            <div *ngIf="geoPosition$ | async as geoPosition"
                 class="distance">
                {{calcDistance(place, geoPosition) | number}} km
            </div>
            <div class="address">{{place.acf.place.address}}</div>
        </address>
        <div class="description" [innerHTML]="place.acf.description[0].text"></div>
    </div>
</div>
