@import 'style';

$border-radius: 15px;

:host {
  display: block;
  background: $background-place-tile;
  border-radius: $border-radius;

  ::ng-deep {

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 16px;
      max-height: 64px;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
}

header {
  position: relative;
  cursor: pointer;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  border-radius: 15px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5011600928074246) 0%, rgba(255, 255, 255, 0) 50%);
  //background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

img {
  height: 170px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}


h2 {
  color: white;
  margin: 0px auto;
  font-size: 20px;
  font-weight: bold;
}

address {
  font-size: 12px;
}

.text {
  padding: 10px;
  color: $item-font-color;
}

.cat {
  color: $item-category-color;
  opacity: 0.5;
}

app-tags {
  margin-bottom: 5px;
}

footer {
  height: 1px;
}