@import 'style';

.user-data {
  border: 1px solid $primary;
  border-radius: $common-border-radius;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

button {
  width: 100%;
}

.cookies {
  text-decoration: underline;
  cursor: pointer;
}

app-login {
  width:100%;
  display: block;
}
