:host {
  display: flex;

  svg {
    width: 20px;
    height: 20px;
  }
}

:host-context(.small){
  svg {
    width: 13px;
    height: 13px;
  }
}

:host-context(.medium){
  svg {
    width: 30px;
    height: 30px;
  }
}

:host-context(.large){
  svg {
    width: 40px;
    height: 40px;
  }
}

:host-context(.x-large) {
    svg {
        width: 55px;
        height: 55px;
    }
}

:host-context(.turn){
  svg {
    transform: rotate(180deg);
  }
}
