<div class='actions'>
    <button class='secondary' (click)='updateValues()'>Save
        <fa-icon [icon]='saveChangesIcon' />
    </button>
    <button class='secondary' (click)='duplicate()'>Duplicate
        <fa-icon [icon]='duplicateIcon' />
    </button>
    <button class='secondary' (click)='openDelete()'>Delete
        <fa-icon [icon]='deleteIcon' />
    </button>
    <app-overlay-menu>
        <button class='opener secondary'>Upload Preset Image</button>
        <button class='closer secondary'>Upload Preset Image</button>
        <div class='preset-upload content' style='width: 320px'>
            <div>Select any resource from your local computer and upload it to the asset management.</div>
            <label class='button --secondary' for='presetImageUploader'>Add Resource</label>
            <input type='file' id='presetImageUploader' (change)='addPresetImageToResourceLibrary($event)'
                   style='display: none' multiple>
        </div>
    </app-overlay-menu>
</div>

<div>{{sentUpdateResponse}}</div>


<ng-template #deleteConformation>
    <div [ngStyle]="{width: '320px'}">
        <div>
            <img alt='preset to delete' [src]='toCmsUrl(this.preset.backgroundImage.formats.thumbnail.url)'>
        </div>
        <div>
            <button (click)='delete()'>Delete Preset: {{preset.title}}</button>
        </div>
    </div>
</ng-template>

