@import 'style';

:host {
  line-height: 44px;
  text-align: center;
  position: sticky;
  align-items: center;
  top: 0;
  background-color: $header-background;
  color: $header-font-color;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 100;

  > div {
    cursor: pointer;
    justify-self: stretch;
    align-self: stretch;

    &.active {
      background: $header-font-color;
      color: $header-background;
    }
  }
}