@import 'style';

:host {
  display: flex;
  flex-wrap: wrap;
  color: $primary;
  font-weight: bold;
}

div {
  cursor: pointer;
  margin: 2px;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

