:host {
  display: block;
  margin: 10px 0;
}

form {
  display: flex;
  gap: 10px;
}

button {
  width: 80px;
}

.rotate {
  display: block;
  animation: rotate 1s linear infinite;
}

@keyframes rotate{
  to{ transform: rotate(360deg); }
}
