@import 'style';

$base: 25px;

$background-color: #f8faff;
$active-color: $primary-blue;
$font-color: #747a8e;

:host {
  position: relative;
  display: block;
  max-width: 340px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.breadcrumb {
  display: flex;
  border-radius: $common-border-radius;
  overflow: hidden;
  margin: auto;
  text-align: center;
  top: 50%;
  width: 100%;
  height: $base * 1.5;
  z-index: 1;
  background-color: $background-color;
  font-size: 14px;
}

.breadcrumb a {
  position: relative;
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  margin: auto;
  height: 100%;
  padding-left: $base;
  padding-right: 0;
  color: $font-color;
}

.breadcrumb a:first-child {
  padding-left: $base / 2.5;
}

.breadcrumb a:last-child {
  padding-right: $base / 2.5;
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: $base * 1.5;
  height: $base * 1.5;
  top: 0;
  right: $base / 1.35 * -1;
  background-color: $background-color;
  border-top-right-radius: 5px;
  transform: scale(0.707) rotate(45deg);
  box-shadow: 1px -1px rgba(0,0,0,0.25);
  z-index: 1;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
}

.breadcrumb__title {
  font-weight: bold;
}

.breadcrumb a.active, .breadcrumb a:hover{
  background: $active-color;
  color: white;
}

.breadcrumb a.active:after, .breadcrumb a:hover:after {
  background: $active-color;
  color: white;
}
