<div class="container">
  <div class="breadcrumb">
    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" queryParamsHandling="merge">
			<span class="breadcrumb__inner">
				<span class="breadcrumb__title">Check</span>
			</span>
    </a>
    <a [routerLink]="['/result-list']"  routerLinkActive="active" queryParamsHandling="merge">
			<span class="breadcrumb__inner">
				<span class="breadcrumb__title">Select</span>
			</span>
    </a>
    <a [routerLink]="['/editor']" routerLinkActive="active" queryParamsHandling="merge">
			<span class="breadcrumb__inner">
				<span class="breadcrumb__title">Edit</span>
			</span>
    </a>
  </div>
</div>
