@import 'style';

.actions {
    display: flex;
    color: $grey-1;

    > a {
        margin-right: 10px;
        cursor: pointer;

    }

    .active {
        color: $primary;
    }
}

.back {
    margin-top: 20px;
}

.title {
    font-weight: bold;
}

.sort-name {
    color: $primary;
    font-style: italic;
    flex: 1;
    text-align: center;
}
