@import 'style';


:host {
  max-width: 800px;
  display: block;
}

iframe {
  margin-top: 20px;
}

h2 {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}


.social-notes {
  max-width: 640px;
  margin: 0 auto;
  font-size: 10px;
}

.close-wrapper {
  float: right;
}
