<div class="simple-feedback">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSc9QfLJQNsfKUfhvPbOP-Zdh35dcWe5A8s_dZGHX8F-ScZHFw/viewform?embedded=true"
    width="100%" height="717" frameborder="0" marginheight="0" marginwidth="0">Wird geladen…
  </iframe>
</div>
<div class="social-notes">
  <p>If you want to support MetaMapper you can follow me on Instagram. And if you are
    going to share images on Instagram, created with MetaMapper, you can also use
    <a target="_blank" href="https://www.instagram.com/metamapper/">@MetaMapper</a>
    or using the hash tag
    <a target="_blank" href="https://www.instagram.com/explore/tags/metamapper/">#metamapper</a>.
  </p>
  <div>Contact with me use:</div>
  <div>
    <a href="mailto:meta-mapper@outlook.com">Meta-Mapper@outlook.com</a>
  </div>
  <div>
    <a target="_blank" href="https://www.instagram.com/metamapper/">@MetaMapper</a>
  </div>
  <div class="close-wrapper">
    <button class="secondary button" (click)="close()">Close</button>
  </div>
</div>


