<ng-container [ngSwitch]="view">
    <ng-container *ngSwitchCase="'list'">
        <div class="list">
            <a *ngFor="let tag of tags$ | async"
               [routerLink]="routeHandler.getSearchPathOfTag(tag.slug)">{{tag.name}} <span
                class="count">({{tag.count}})</span>
            </a>
        </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <div class="hash">
            <a *ngFor="let tag of tags$ | async"
               [style.fontSize]="view === 'cloud' ? calculateSize(tag) : null"
               [routerLink]="routeHandler.getSearchPathOfTag(tag.slug)">#{{tag.name}}</a>
        </div>
    </ng-container>
</ng-container>
