@import 'style';

.list,
.hash {
    display: flex;
    flex-wrap: wrap;

    > a {
        margin: 2px;
        cursor: pointer;
    }
}

.hash {
    color: $primary;
    font-weight: bold;

    > a {
        align-self: center;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.list {
    color: $item-font-color;
    font-weight: normal;
    font-size: 14px;

    > a {
        margin: 5px;
    }

    span {
        font-weight: bold;
        color: $primary;
    }
}

