<ng-container [ngSwitch]="view">
    <ng-container *ngSwitchCase="'list'">
        <div class="list">
            <div *ngFor="let tag of tags$ | async"
                 (click)="queryParamsHandler.addTagToSearchPath(tag.slug)">{{tag.name}} <span
                class="count">({{tag.count}})</span>
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <div class="hash">
            <div *ngFor="let tag of tags$ | async"
                 [style.fontSize]="view === 'cloud' ? calculateSize(tag) : null"
                 (click)="queryParamsHandler.addTagToSearchPath(tag.slug)">#{{tag.name}}</div>
        </div>
    </ng-container>
</ng-container>
