@import 'style';

select {
  border: 2px solid $grey-1;
  width: 100%;
}

button {
  width: 100%;
}

.values-container {
  margin-bottom: 15px;
}

.preview {
  overflow: auto;
  display: grid;
  grid-template-columns: 134px 120px;

  @include respond-below(sm) {
    grid-template-columns: 60px 60px 60px 60px;
  }

  grid-gap: 10px;

  &-tile {
    position: relative;
    cursor: pointer;


    &-title {
      position: absolute;
      text-align: center;
      top: 0;
      bottom: 0;
      width: 100%;

      font-weight: bold;
      background-color: white;
      opacity: 0;
      transition: 0.4s;
    }

    &:hover &-title {
      opacity: 0.9;
    }

    video,
    img {
      object-fit: cover;
      width: 120px;
      height: 160px;
      border-radius: $common-border-radius;

      @include respond-below(sm) {
        width: 60px;
        height: 60px;
      }
    }
  }
}
