<app-expansion-panel [collapsed]="formCollapsed">
  <span class="title">Shadow</span>
  <form class="content" [formGroup]="form">
    <label>Color</label>
    <input type="color" formControlName="color">
    <label>offsetX</label>
    <input type="range" formControlName="offsetX" min="0" max="100">
    <label>offsetY</label>
    <input type="range" formControlName="offsetY" min="0" max="100">
    <label>blur</label>
    <input type="range" formControlName="blur" min="0" max="100">
    <label>opacity</label>
    <input type="range" step="0.01" formControlName="opacity" min="0" max="1">
    <button class="secondary small" (click)="resetProperties()">reset</button>
  </form>
</app-expansion-panel>
