<div class="object-actions" *ngIf="activeObject; else selectItem">
  <app-object-rotate></app-object-rotate>
  <app-object-remove></app-object-remove>
  <app-object-align></app-object-align>
  <app-object-copy></app-object-copy>
  <app-object-size></app-object-size>
  <div class="type-settings" [ngSwitch]="selectedType">
    <div class="text-settings" *ngSwitchCase="fabricType.TEXTBOX">
      <app-font-color-picker></app-font-color-picker>
      <app-font-selector></app-font-selector>
      <div class="border-box font-deco">
        <app-font-weight class="action-tile"></app-font-weight>
        <app-font-underline class="action-tile"></app-font-underline>
        <app-text-align></app-text-align>
      </div>
    </div>
  </div>
  <app-overlay-menu class="effects">
    <div class="opener">Effects</div>
    <div class="closer">Effects</div>
    <div class="content">
      <app-object-shadow [activeObject]="activeObject"></app-object-shadow>
      <app-object-stroke [activeObject]="activeObject"></app-object-stroke>
      <app-image-filter *ngIf="activeObject?.type === fabricType.IMAGE"></app-image-filter>
      <app-expansion-panel *ngIf="activeObject?.type === fabricType.TEXTBOX">
        <span class="title">Font Background</span>
        <app-font-background class="content"></app-font-background>
      </app-expansion-panel>
    </div>
  </app-overlay-menu>
  <span class="transition"></span>
</div>

<ng-template #selectItem>
  <div class="select-items">Add new items or rearrange objects in the editor.</div>
</ng-template>

<app-undo-redo></app-undo-redo>
<div (click)="download()" class="download"><fa-icon [icon]="iconDownload"></fa-icon></div>
<app-overlay-menu class="more-actions">
  <span class="opener"><fa-icon [icon]="iconMore"></fa-icon>more</span>
  <span class="closer"><fa-icon [icon]="iconMore"></fa-icon>close</span>
  <div class="content">
    <app-feature [canvas]="canvas"></app-feature>
  </div>
</app-overlay-menu>
