<!-- TODO: remove styling from markup -->
<div style="max-width: 440px;" *ngIf="images?.length">
  <img loading="lazy"
       (click)="updateSelection(src)"
       [src]="src"
       *ngFor="let src of images.slice(0, 15)"
       [class.selected-image]="selectedFromOthers.includes(src)">
  <div class="row-actions">
    <button class="primary" *ngFor="let i of [1, 2, 3]"
            [disabled]="!selectedFromOthers.length"
            (click)="addSelected(i)">Add {{i}}-col Layout
    </button>
  </div>
</div>
