@import 'style';

.heading {
  font-weight: bold;
}

.item {
  scroll-snap-align: center;
  display: flex;
  padding: 5px;
  border-radius: 2px;
  background-color: $grey-1;
  margin-right: 5px;
  color: white;
  cursor: pointer;

  &.active {
    background-color: $primary;
  }

  fa-icon {
    margin-left: 10px;
  }
}

:root {
  --gutter: 20px;
  grid-column: 2 / -2;
}

.full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(10px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: 5px;

  @include scroll-style;
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}

.container {
  position: relative;

  .scroll-left,
  .scroll-right {
    z-index: 20;
    position: sticky;
    padding: 5px 10px;
    background: rgb(255,255,255);
    color: $grey-2;
    top: 0;
    bottom: 0;
  }

  .scroll-left {
    padding-left: 4px;
    left: 0;
    background: linear-gradient(90deg, $grey-0 50%, rgba(255,255,255,0) 100%);
  }

  .scroll-right {
    padding-right: 4px;
    right: 0;
    background: linear-gradient(270deg, $grey-0 50%, rgba(255,255,255,0) 100%);
  }

}
