<div class="heading">If you want to support MetaMapper, you can share it with the whole world or follow me on Instagram.</div>

<a class="card-button" trackClick="Social Share: Instagram Profile"  target="_blank" href="https://www.instagram.com/metamapper/">
  <span>&#64;MetaMapper</span>
  <img height="20" src="/assets/icons/instagram.svg">
</a>
<a class="card-button" trackClick="Social Share: Instagram Hasthtag"  target="_blank" href="https://www.instagram.com/explore/tags/metamapper/">
  <span >#metamapper</span>
  <img height="20" src="/assets/icons/hashtag.svg">
</a>
<a class="card-button" trackClick="Social Share: Mail" href="mailto:meta-mapper&#64;outlook.com">
  <span>meta-mapper&#64;outlook.com</span>
  <span class="symbol">&#64;</span>
</a>
