@import 'style';

button,
.toggle-content {
  width: 100%;
}
.video-heading {
  font-weight: bold;
  margin: 10px 0;
}
.duration-container {
  display: flex;

  > div {
    border-radius: $common-border-radius;
    background-color: $grey-0;
    padding: 5px;
    margin-right: 5px;

    &:hover {
      background-color: $primary;
    }
  }
}

.recording {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-url {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.copy-url-description {
  margin-top: 5px;
  font-size: 12px;

  fa-icon {
    margin-right: 10px;
  }
}

app-socal-share{
  display: block;
  margin-top: 10px;
}

.download-option {
  .opener,
  .closer {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
  }
}

.radio-heading {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}
.radio-toolbar {
  display: inline-flex;

  &.-vertical {
    display: block;

    label {
      border-top: 2px solid black;
      border-left: 2px solid black;
      border-right: 2px solid black;
      text-align: center;

      &:first-of-type {
        border-radius: $common-border-radius $common-border-radius 0 0;
      }

      &:last-of-type {
        border-bottom: 2px solid black;;
        border-radius: 0 0 $common-border-radius $common-border-radius;
      }


      display: block;
    }
  }

  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  label {
    background-color: white;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
  }

  &:not(.-vertical) {
    label {
      border: 2px solid black;

      &:first-of-type {
        border-radius: $common-border-radius 0 0 $common-border-radius;
      }

      &:last-of-type {
        border-radius: 0 $common-border-radius $common-border-radius 0;
      }
      &:not(:last-child) {
        border-right: 2px solid black;
      }
    }
  }

  label:hover {
    background-color: var(--primary);
  }

  input[type="radio"]:focus + label {
    background-color: black;
    color: white;
  }

  input[type="radio"]:checked + label {
    background-color: black;
    color: white;
  }
}
