<div class="toggle">
  <button (click)="downloadImage(); openFeedbackOnlyOnFirstTime()"
          trackClick="Download {{presetService?.preset?.title}} (ID: {{presetService?.preset?.id}})"
          trackingCategory="Download">
    Download
    <fa-icon [icon]="downloadIcon"></fa-icon>
  </button>
  <div class="toggle-content" *ngIf="extended">
    <div class="video-heading">Download as Video</div>
    <div class="duration-container" trackClick="Download Video {{presetService?.preset?.title}}"
         trackingCategory="Download">
      <div (click)="downloadVideo(2000)">2sec</div>
      <div (click)="downloadVideo(4000)">4sec</div>
      <div (click)="downloadVideo(8000)">8sec</div>
    </div>

    <div class="recording" *ngIf="recording">
      <div>recording</div>
      <app-loading-animation></app-loading-animation>
    </div>
  </div>
  <form [formGroup]="form">
    <div *ngIf="currentUser$ | async">
      <input type="checkbox" formControlName="upload" id="uploadFile" class="form-check-input"/>
      <label for="uploadFile" class="form-check-label">Upload as Preview</label>
    </div>
    <app-overlay-menu class="download-option">
      <div class="action opener">Download options</div>
      <div class="action closer">Close options</div>
      <div class="content">
        <div class="radio-heading">Format</div>
        <div class="radio-toolbar">
          <ng-container *ngFor="let option of formatOption">
            <input [formControlName]="option.formControlName" type="radio"
                   [name]="option.formControlName" [value]="option.value" [id]="option.value">
            <label [for]="option.value">{{option.label}}</label>
          </ng-container>
        </div>
        <div class="radio-heading">Size</div>
        <div class="radio-toolbar -vertical">
          <ng-container *ngFor="let option of downloadSizes">
            <input [formControlName]="option.formControlName" type="radio"
                   [name]="option.formControlName" [value]="option.value" [id]="option.value">
            <label [for]="option.value">{{option.label}}</label>
          </ng-container>
        </div>
      </div>
    </app-overlay-menu>
  </form>
</div>

<div class="copy-url" (click)="createStaticEditorLink()">Copy shareable URL to clipboard</div>
<div class="copy-url-description" *ngIf="staticUrl">
  <fa-icon [icon]="faInfo"></fa-icon>
  The shareable url also includes text changes which can be shared.
  The shareable URL automatically opens meta-mapper.com with text changes. The shareable URL is now in your clipboard
  and can be shared with friends.
</div>

<app-socal-share></app-socal-share>
