@import 'style';

button,
.toggle-content {
  width: 100%;
}
.video-heading {
  font-weight: bold;
  margin: 10px 0;
}
.duration-container {
  display: flex;

  > div {
    border-radius: $common-border-radius;
    background-color: $grey-0;
    padding: 5px;
    margin-right: 5px;

    &:hover {
      background-color: $primary;
    }
  }
}

.recording {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-url {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.copy-url-description {
  margin-top: 5px;
  font-size: 12px;

  fa-icon {
    margin-right: 10px;
  }
}


app-socal-share{
  display: block;
  margin-top: 10px;
}
