<div class="toggle">
  <span><fa-icon [icon]="plusIcon"></fa-icon>  Insert</span>
  <div class="toggle-content">
    <div class="actions">
      <div (click)="addObject(LayoutItemType.TITLE)"><fa-icon [icon]="plusIcon"></fa-icon> meta title</div>
      <div (click)="addObject(LayoutItemType.DESCRIPTION)"><fa-icon [icon]="plusIcon"></fa-icon>  meta description</div>
      <div (click)="addObject(LayoutItemType.IMAGE)"><fa-icon [icon]="plusIcon"></fa-icon>  meta image</div>
      <div (click)="addObject(LayoutItemType.ICON)"><fa-icon [icon]="plusIcon"></fa-icon>  meta icon</div>
    </div>
  </div>
</div>

