@import 'style';

:host {
  display: flex;

  > * {
    margin-right: 10px;
  }

  .actions {
    width: 150px;

    > div {
      cursor: pointer;
      padding: 2px;

      &:hover {
        background: $grey-1;
      }
    }
  }
}
