@import "style";

header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Archivo Black', sans-serif;

  span:nth-child(1) {
    color: $primary-dark;
  }
  span:nth-child(2) {
    color: $primary;
  }
}

app-main-breadcrumbs {
  min-width: 340px;
}

.header-bar {
  background-color: $grey-0;
  border-bottom: 1px $grey-1 solid;
  padding:10px 0;
}

.header-bar {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    margin-left: 50px;
  }
}
