@import 'style';
:host {
  display: block;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $footer-background;
  color: $footer-font-color;
  border-top: $footer-border-top;
  height: 50px;
  padding: 0 10px;
  display: flex;
}