header {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Space Grotesk', sans-serif;

  span:nth-child(1) {
    color: darkblue;
  }
  span:nth-child(2) {
    color: darkred;
  }
}

app-main-breadcrumbs {
  margin: 20px auto;

}
