@import 'style';

$border: 1px solid $grey-1;


.preview {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  overflow-x: auto;
}

canvas {
  position: absolute;
  background: white;
}

main {

  position: relative;
  width: 100%;

  .canvas-actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    background-color: white;
    padding: 12px;
    // opacity: 0.8;

    .actions-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    button {
      height: 35px;
      font-size: 14px;
      max-width: 150px;
      border-radius: 3px;
      margin-right: 5px;
      margin-left: 5px;
      border: 0;
    }

    app-simple-actions {
      display: block;
    }
  }

  .canvas-wrapper {
    padding: 120px 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-dark-0;
  }
}

aside {
  padding: 20px;
  min-height: 80vh;
  max-width: 265px;

  h3 {
    /*margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    color: $grey-dark-0;
    text-align: center;*/
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    /* border-bottom: 1px solid #363636; */
    padding: 5px;
    background: #20bfa9;
    margin: -20px -20px 20px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  hr {
    color: $grey-dark-0;
  }

  app-layout-selector {
    width: 280px;
    display: block;
  }
  button {
    width: 100%;
    margin-bottom: 10px;
  }
}
