@import 'style';

$border: 1px solid $grey-1;

:host {
  background-color: $grey-dark-0;
  display: block;
}

.preview {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  overflow-x: auto;
}

canvas {
  position: absolute;
  background: white;
}

::ng-deep {
  .canvas-container {
    transform: scale(0.7);
    transform-origin: 0% 0% 0px;
  }
}

main {
  position: relative;
  width: 100%;

  .canvas-actions {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1010;
    background-color: white;
    border-bottom: 1px solid $grey-1;

    .actions-row {
      min-height: 60px;
      padding-left: 10px;
      display: flex;
      align-items: center;
    }

    app-simple-actions {
      display: block;
    }
  }

  .canvas-wrapper {
    padding: 120px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

aside {
  padding: 20px;
  min-height: 80vh;
  max-width: 265px;
  border-right: 1px solid $grey-1;
  background-color: $grey-0;

  h3 {
    font-size: 18px;
    font-weight: bold;
    color: $grey-2;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    margin: 0 0 20px;
  }

  hr {
    color: $grey-dark-0;
  }

  app-layout-selector {
    width: 280px;
    display: block;
  }

  app-button-download,
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
