<div class="preview">
  <aside>
    <h3>Select Layouts</h3>
    <app-layout-selector (layout)="setLayout($event)"></app-layout-selector>
    <ng-container *ngIf="loggedInUser | async">
      <button class="save-change secondary" (click)="resetTemplate()">Reset Template
        <fa-icon [icon]="undoIcon"></fa-icon>
      </button>
      <button class="save-change secondary" (click)="updateValues()">Save Template
        <fa-icon [icon]="saveChangesIcon"></fa-icon>
      </button>
      <div>{{sentUpdateResponse}}</div>
    </ng-container>
  </aside>
  <main>
    <div class="canvas-actions">
      <div class="actions-row">
        <app-meta-data-actions *ngIf="this.currentPresetService"
                               [presetService]="this.currentPresetService"
                               [metaProperties]="metaProperties">
        </app-meta-data-actions>
        <button (click)="download()">Download
          <fa-icon [icon]="downloadIcon"></fa-icon>
        </button>
      </div>

      <app-simple-actions></app-simple-actions>
    </div>

    <div class="canvas-wrapper">
      <canvas id="myCanvas"></canvas>
    </div>

  </main>
</div>

