@import 'style';

$border: 2px solid $grey-dark-1;
:host {
  color: $grey-0;
}
.preview {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  overflow-x: auto;
}

canvas {
  position: absolute;
  background: white;
}

.canvas-wrapper {
  padding: 40px 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey-dark-1;
}


.main-actions {
  display: flex;
  align-items: center;
  border-bottom: $border;
  margin: 10px 0 0 0;
  padding-bottom: 5px;

  button {
    height: 35px;
    font-size: 14px;
    max-width: 150px;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 5px;
    border: 0;
  }
}


aside {
  padding: 20px;
  min-height: 80vh;

  h3 {
    margin-top: 0;
    font-weight: 200;
    font-size: 14px;
  }

  app-layout-selector {
    width: 280px;
    display: block;
  }
}
