<div class="preview">
  <aside>
    <div>
      <h3>Select Preset</h3>
      <app-layout-selector (layout)="setLayout($event)"></app-layout-selector>
    </div>
    <hr>
    <div>
      <app-button-download [presetService]="currentPresetService"></app-button-download>
      <ng-container *ngIf="loggedInUser | async">
        <button class="save-change secondary" (click)="resetTemplate()">Reset Template
          <fa-icon [icon]="undoIcon"></fa-icon>
        </button>
        <button class="save-change secondary" (click)="updateValues()">Save Template
          <fa-icon [icon]="saveChangesIcon"></fa-icon>
        </button>
        <div>{{sentUpdateResponse}}</div>
      </ng-container>
      <button class="secondary mobile-mode" (click)="zoomOut()">Mobile View</button>
    </div>
  </aside>
  <main>
    <div class="canvas-actions">
      <div class="actions-row">
        <app-meta-data-actions *ngIf="this.currentPresetService"
                               [presetService]="this.currentPresetService"
                               [metaProperties]="metaProperties">
        </app-meta-data-actions>
        <app-simple-actions></app-simple-actions>
      </div>

    </div>

    <div class="canvas-wrapper">
      <canvas id="myCanvas"></canvas>
    </div>

  </main>
</div>

