<div [innerHTML]="imprintText$ | async"></div>


<h2>Changelog</h2>
# Changelog
### 0.1.25
Angular 14
also update all other dependencies

### 0.1.24
small adjustments


### 0.1.23
Add sentry for tracking

### 0.1.22
Technical improvements
+ better handling of actions
+ local deployment for local development
+ refactor action structure

Editor improvements
+ Highlight object when added
+ Add Stroke Action
+ Add Shadow Action

Meta improvements
+ Preparing for other Images

### 0.1.21
Style improvements
+ Adjust icon lib
+ Adjust some translations

### 0.1.20
Technical upgrades,
+ Update node + npm
+ Update fabricjs + types

### 0.1.19
Adding Seo Data
Adjust header styling

### 0.1.18
Add better mobile experience
Add new corner points

Also:
+ fix ios bug with not rendering canvas in retina mode

### 0.1.17
Features:
+ Add Image filter feature
Improvements:
+ Improve zoom feature
+ Improve handling of size of canvas for different viewports
+ Optimize ContentHeights and footer
+ Mobile view v1
+ Enhance Toggles for mobile


### 0.1.16
Add alignment guidelines with feature service

### 0.1.15
scroll buttons for preset tags

### 0.1.14
WIP: Using other texts for static

### 0.1.13
Undo/Redo function (beta)
* undoing and redoing changes with component
* (Problem: does not work with all actions i.e. text alignment)

Also:
* loading spinner for rendering template
* make zoom toolbar sticky not fixed
*
### 0.1.12
Optimize Layout selector
* with video symbol
* with preview image

### 0.1.11
Bugfix: Fix copy and paste officially

### 0.1.10
Bugfix: fix copy paste function
(but it still needs to be improved)

### 0.1.9
Bugfix: viewport does not jump when clicking
on textfields on bottom of the screen

also:
+ Do not move layers to top if they are selected, they now stay on their position.
+ Make action bar now sticky, and make canvas container scrollable


### 0.1.8
bugfix: deletion of multiple items works

## 0.1.7 (2021-12-03)
update to angular 12

## 0.1.6 (2021-11-23)
copy paste function

using short codes for copy paste

## 0.1.5 (2021-11-22)

Using google form for feedback now

also:
- Feedback will be opened automatically on click download button (only once)
- Removed old feedback behavior
