@import 'style';

:host {
  background: white;
  padding: 25px;
  margin: 5px;
  border-radius: $common-border-radius;
  max-height: 90vh;
  overflow: auto;
}

.modal-header {
  margin: -12px;
  font-size: 20px;
  text-align: right;
}

fa-icon {
  cursor: pointer;
}
