<div class="place">
    <header>
        <a [routerLink]="detailPagePaths" queryParamsHandling="merge">
            <div class="title">
                <div class="cat">{{place.acf?.mainCategory?.name || 'Restaurant'}}</div>
                <h2 [innerHTML]=" place.title.rendered"></h2>
            </div>
            <div class="image">
                <img [src]="featureImageUrl">
            </div>
        </a>
    </header>
    <section>
        <div class="details">
            <div class="text" [routerLink]="detailPagePaths" queryParamsHandling="merge">
                <address>
                    <div *ngIf="geoPosition$ | async as geoPosition"
                         class="distance">
                        {{calcDistance(place, geoPosition) | number}} km
                    </div>
                    <a [href]="geoUrl" target="_blank">
                        <div class="address">{{place.acf.place.address}}</div>
                    </a>
                </address>
            </div>
            <app-tags [tags$]="tags$"></app-tags>
        </div>
        <app-favourite-toggle [place]="place"></app-favourite-toggle>
    </section>
    <footer></footer>
</div>
