<div class="place">
    <header [routerLink]="detailPagePaths" queryParamsHandling="merge">
        <div class="title">
            <div class="cat">Restaurant</div>
            <h2 [innerHTML]=" place.title.rendered"></h2>
        </div>
        <div class="image">
            <img [src]="featureImageUrl">
        </div>
    </header>
    <section>
        <div class="details">
            <div class="text" [routerLink]="detailPagePaths" queryParamsHandling="merge">
                <address>
                    <div *ngIf="geoPosition$ | async as geoPosition"
                         class="distance">
                        {{calcDistance(place, geoPosition) | number}} km
                    </div>
                    <div class="address">{{place.acf.place.address}}</div>
                </address>
            </div>
            <app-tags [tags$]="tags$"></app-tags>
        </div>
        <app-favourite-toggle [place]="place"></app-favourite-toggle>
    </section>
    <footer></footer>
</div>
