<div class="header-bar">
    <header>
        <a routerLink="/" trackClick="Back to Homepage">
            <img class="logo" [src]="iconUrl" alt="Logo">
        </a>
    </header>
    <div *ngIf="!hideFeedback" class="feedback-action" trackClick="Feedback: Open dialog" (click)="openFeedback()">
        <img height="20" src="/assets/icons/feedback.svg"> Feedback
    </div>
</div>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <ng-container *ngIf="!simpleFooter">
        <span class="version">MetaMapper {{currentApplicationVersion}}</span>
        <a href="mailto:meta-mapper&#64;outlook.com">contact</a>
    </ng-container>
    <div *ngIf="showImprint" (click)="openImprint()">Imprint</div>
    <a routerLink="/info">Credits</a>
</footer>
