@import "style";

header {
  font-weight: bold;
  font-family: 'Archivo Black', sans-serif;

  h1 {
    font-size: 25px;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  span:nth-child(1) {
    color: $primary-dark;
  }

  span:nth-child(2) {
    color: $primary;
  }
}

.header-bar {
  background-color: $grey-0;
  border-bottom: 1px $grey-1 solid;
  padding: 10px 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    margin-left: 50px;
  }
}

main {
  min-height: $viewport-height;
}

.background {
  background: $gradient-background;
}


footer {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  padding: 10px;

  span {
    margin-right: 20px;
  }
}

.feedback-action {
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
