<div class="header-bar">
    <header>
      <h1>
        <a routerLink="/" trackClick="Back to Homepage">
          <span>Meta</span><span>Mapper</span>
        </a>
      </h1>
    </header>
  <div class="feedback-action" trackClick="Feedback: Open dialog" (click)="openFeedback()"><img height="20" src="/assets/icons/feedback.svg"> Feedback</div>
</div>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="background">
  <span class="version">MetaMapper 0.1.18</span>
  <a href="mailto:meta-mapper@outlook.com">contact</a>
  <a routerLink="/info"> | credits</a>
</footer>
