@import "style";

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background-color: $grey-0;
  border-bottom: 1px $grey-1 solid;
  padding: 10px;
}

header {
  font-weight: bold;
  font-family: $font-heading;

  h1 {
    font-size: 25px;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  span:nth-child(1) {
    color: $primary-dark;
  }

  span:nth-child(2) {
    color: $primary;
  }
}

.header-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.feedback-action {
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-right: 4px;
  }
}


main {
  min-height: $viewport-height;
}

.background {
  background: $gradient-background;
}


footer {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  padding: 10px;

  span {
    margin-right: 20px;
  }
}

