<ng-container *ngIf="(location$ | async) as location; else loading">
    <img [src]="imgUrl">
    <div class="info-wrapper">
        <h1 [innerHTML]="location.title.rendered"></h1>
        <address>
            <div class="address">{{location.acf.place.address}}</div>
        </address>
        <div class="description" [innerHTML]="location.acf.description[0].text"></div>
        <app-favourite-toggle [place]="location"></app-favourite-toggle>
        <app-social-share></app-social-share>
    </div>
</ng-container>

<ng-template #loading>
    <div class="loading">
        <app-loading></app-loading>
    </div>
</ng-template>

<footer></footer>
