@import 'style';

img {
  height: 200px;
  width: 100%;
  object-fit: cover;

}

:host {
    display: block;
}

.info-wrapper {
    background-color: $background-place-tile;
    border-top-right-radius: $common-border-radius*2;
    border-top-left-radius: $common-border-radius*2;
    margin-top: -$common-border-radius*2;
    position: relative;
    padding: $spacing;
    min-height: 90vh;
    height: 100%;

    h1 {
        margin: 15px 0;
        text-align: center;
    }

    .description {
        margin-bottom: 30px;

        ::ng-deep {
            a {
                color: $primary;
            }
        }
    }
}

app-favourite-toggle {
    display: block;
}

.loading {
  text-align: center;
}

footer {
    height: $footer-min-height;
}

address {
    text-decoration: underline;
    font-size: 14px;
}

.website a {
    display: flex;
    align-items: center;
}
