<div class="confirm-update" routerLink="/profile">Open Profile</div>
<a class="confirm-update" routerLink="/p/imprint">Impressum</a>

<div class="card">
    <div *ngIf="isSwUpdateAvailable">
        <div *ngIf="availableUpdate$ | async as update">
            <h3>Following Update Available</h3>
            <p>{{update | json}}</p>
            <div>Update will be installed after reload</div>
            <div class="confirm-update" (click)="reload()">Reload App</div>
        </div>
    </div>

    <div class="version">Build-Version: {{buildDate}}</div>
    <div class="info">Sometimes forced updates do not work on first click, so try to click several times</div>
    <div class="" (click)="reload()">Force an update</div>
</div>
