@import 'style';

:host {
  > * {
    margin-right: 5px;
  }
}

.font-deco {
  display: flex;

  app-font-weight,
  app-font-underline {
    @include action-style;
  }

  app-text-align {
    padding: 2px 10px;
    display: flex;
    align-items: center;
  }
}

