@import 'style';
select {
  border: 2px solid $grey-1;
  width: 100%;
}

.show-layout {
  font-size: 12px;
  color: $grey-1;
  text-align: right;
  margin-bottom: 10px;
}

.values {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 5px;

  label {
    align-self: center;
  }
}

button {
 width: 100%;
}

.values-container {
  margin-bottom: 15px;
}
