<form [formGroup]="layoutSelectForm">
  <select formControlName="layoutName" (change)="changeLayoutSetting($event)">
    <option value="">Choose layout</option>
    <option *ngFor="let setting of settings$ | async" [ngValue]="setting">{{setting.title}}</option>
  </select>
</form>
<div class="show-layout" (click)="layoutToggle()">Show Values</div>
<div class="values-container" *ngIf="showLayout">
  <form class="values" [formGroup]="detailForm">
    <label>Width px</label>
    <input formControlName="width">

    <label>Height px</label>
    <input formControlName="height">

    <label>fontHeadingSizePixel</label>
    <input type="number"  formControlName="fontHeadingSizePixel">

    <label>fontTextSizePixel</label>
    <input type="number" formControlName="fontTextSizePixel">

    <label>fontFamilyHeadingCSS</label>
    <input formControlName="fontFamilyHeadingCSS">

    <label>fontFamilyTextCSS</label>
    <input formControlName="fontFamilyTextCSS">

    <div></div>
    <button (click)="updateValues()" class="secondary">Update Values</button>
  </form>
</div>
