:host {
  position: fixed;

  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightyellow;
  color: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  .actions {
    display: flex;
    > div {
      margin-right: 10px;
    }
  }
}