@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import 'style';
@import 'lib';
@import '~@angular/cdk/overlay-prebuilt.css';

body {
  font-family: $font-text;
  margin: 0;
}
h1, h2 {
  font-family: $font-heading;
}

textarea,
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: $common-border-radius;
  border: 2px solid $grey-0;
}

input[type=number] {
    border-radius: $common-border-radius;
    border: 2px solid $grey-0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
  background-position-x: 99%;
  background-position-y: 11px;
  padding: 1rem 2rem 1rem 1rem;
}

.button,
button {
  width: 200px;
  border-radius: $common-border-radius;
  border: 1px solid #434c61;
  color: white;
  height: 40px;
  font-size: 20px;

  &:not(:disabled){
    cursor: pointer;
    background-color: $primary-dark;
  }
}

.button.secondary,
button.secondary {
  background-color: white;
  color: $primary-dark;
  border: 1px solid $primary-dark;
}

app-loading-animation {
  display: block;
  margin: 0 auto;
  text-align: center;
}
