/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@511&display=swap');
@import 'style';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 6px;
  border: 2px solid $grey-0;
}


button {
  width: 200px;
  border-radius: 6px;
  border: 1px solid #434c61;
  font-size: 20px;
  background-color: $primary-blue;
  color: white;
  height: 40px;
  cursor: pointer;
}
