/* You can add global styles to this file, and also import other style files */
@import 'style';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

h1, h2, h3, h4, h5, h6 {
    color: $item-font-color;
}

.button {
    background-color: $primary;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $common-border-radius;
    color: white;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: $common-border-radius;
    margin: 20px 0;
    color: $grey-2;
    font-size: 18px;

    h2 {
        margin: 0 0 10px 0;
        font-size: 30px;
        color: $primary;
    }
}

.popover-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid $primary;
    border-radius: $common-border-radius;
    box-sizing: border-box;
    font-size: 18px;
}
