@import 'style';

:host {
  display: block;
}

nav {
  display: flex;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  border: 2px solid $primary;
  border-radius: $common-border-radius;
  font-weight: bold;

  > * {
    flex: 2;
    text-align: center;
    color: $primary;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .p {
    border-right: 2px solid $primary;
  }

  .disabled {
    color: $grey-1;
    pointer-events: none;
  }
}