<ng-container *ngIf="searchInfo$ | async as searchInfo">
    <nav>
        <a class="p"
           [routerLink]="['./']"
           [queryParams]="{page: searchInfo.page-1}"
           queryParamsHandling="merge"
           [class.disabled]="searchInfo.page === 1 || searchInfo.total === 0">

            <app-icon name="back"></app-icon><span>Previous</span>
        </a>
        <a class="n"
           [routerLink]="['./']"
           [queryParams]="{page: searchInfo.page+1}"
           queryParamsHandling="merge"
           [class.disabled]="searchInfo.page === searchInfo.pages || searchInfo.total === 0">

            <span>Next</span><app-icon name="back" class="turn"></app-icon>
        </a>
    </nav>
</ng-container>
