<ng-container *ngIf="searchInfo$ | async as searchInfo">
    {{searchInfo.page}}
    <nav>
        <div class="p"
             [routerLink]="['/search']"
             [queryParams]="{page: searchInfo.page-1}"
             queryParamsHandling="merge"
             *ngIf="searchInfo.page > 1">< Previous
        </div>
        <div class="n"
             [routerLink]="['/search']"
             [queryParams]="{page: searchInfo.page+1}"
             queryParamsHandling="merge"
             *ngIf="searchInfo.page < searchInfo.pages">Next >
        </div>
    </nav>
</ng-container>