@import 'style';

:host {
  margin: 20px 40px;
  display: block;
}

nav {
  display: flex;
  height: 30px;

  justify-content: space-evenly;
  align-items: center;
  background: white;
  border: 1px solid $primary;
  border-radius: 15px;

  > * {
    flex: 2;
    text-align: center;
    color: $primary;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p {
    border-right: 1px solid $primary;
  }

}