$primary-blue: darkblue;
$primary-red: darkred;

$soft-blue-1: rgb(205 214 234 / 61%);

$secondary-blue: #95A3C9;
$rosa: black;
$grey: white;

$red-0: #d93e41;

$grey-0: #f1f1f1;
$grey-1: #9d9d9d;
$grey-2: #5b5b5b;

$grey-dark-0: #363636;
$grey-dark-1: #171719;

$common-border-radius: 6px;
