$primary-dark: black;
$primary: #20bfa9;
$primary-soft: #fdc8f2;
$soft-blue-1: grey;

$secondary-blue: grey;
$rosa: black;
$grey: white;

$red-0: #d93e41;

$grey-0: #f1f1f1;
$grey-1: #9d9d9d;
$grey-2: #5b5b5b;

$grey-dark-0: #363636;
$grey-dark-1: #171719;

$common-border-radius: 6px;

$header-height: 59px;

$box-shadow-dark:  0 5px 10px 0 #00000085;
