$primary-dark: black;
$primary: #20bfa9;
$primary-soft: #fdc8f2;
$soft-blue-1: grey;

$secondary-blue: grey;
$rosa: black;
$grey: white;

$red-0: #d93e41;
$orange-0: rgb(255, 207, 151);
$grey-0: #f1f1f1;
$grey-1: #9d9d9d;
$grey-2: #5b5b5b;

$grey-dark-0: #363636;
$grey-dark-1: #171719;

$common-border-radius: 6px;

$header-height: 55px;
$viewport-height: calc(100vh - #{$header-height});

$box-shadow-dark:  0 5px 10px 0 #00000085;
$box-shadow-right-bottom: 7px 7px 7px 0px #00000085;

$z-index-highlight: 100;
$z-index-popover: 101;

$gradient-background: linear-gradient(200deg, $primary-soft 0%, $primary 100%);

$border: 1px solid $grey-1;


$font-heading: 'Archivo Black', sans-serif;
$font-text: 'Open Sans', sans-serif;
