@import 'style';

.toggle {
  position: relative;
  cursor: pointer;

  .toggle-content {
    display: none;
  }

  &:hover {
    .toggle-content {
      display: block !important;
      position: absolute;
      border: 1px solid $grey-1;
      border-radius: $common-border-radius;
      box-shadow: $box-shadow-dark;
      padding: 10px;
      z-index: $z-index-popover;
      background: white;
    }
  }
}


.border-box {
  padding: 10px 12px;
  border: 1px solid $grey-0;
  border-radius: $common-border-radius;
}


.action-menu-item {
  border-bottom: 1px solid $grey-0;
  cursor: pointer;
  padding: 10px;
  margin: 4px 0;

  &:hover {
    background: $grey-0;
    border-radius: $common-border-radius;
  }
}
