@import 'style';

.toggle {
  position: relative;
  cursor: pointer;

  .toggle-content {
    display: none;
  }

  &:hover {
    .toggle-content {
      display: block !important;
      position: absolute;
      border: 1px solid $grey-1;
      border-radius: $common-border-radius;
      padding: 10px;
      z-index: 1010;
      background: white;
    }
  }
}


.border-box {
  padding: 12px;
  border: 1px solid $grey-0;
  border-radius: $common-border-radius;
}
